@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}

select,
input,
textarea {
    border: 1px solid #c2c2c2;
    outline-color: #c586a5;
    border-radius: 4px;
}

.active {
    background-color: #ffebf5;
    border-color: #c586a5;
}