@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


a.active hr {
    display: block;
}

* {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    transition: all 0.3s ease;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar{
    display: none;
}

@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: #fff;
    }
}